# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Personal files
audit/Rapport d'optimisation.docx
audit/Rapport complet - Lighthouse - Nina Carducci.pdf
audit/Rapport d'optimisation.pdf
